.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-contained.Mui-disabled {
  background-color: #e0e0e0 !important;
}

.MuiCheckbox-colorPrimary svg {
  color: rgba(103, 144, 160, 1) !important;
}
.policy-dialog {
  z-index: 9999 !important;
}

.registration-step .registration-step-label {
  padding-top: 2px;
  font-size: 0.6rem;
}
.registration-step .MuiStepLabel-iconContainer {
  padding-right: 0 !important;
}
.registration-step .MuiStepLabel-iconContainer svg.Mui-completed {
  color: #008313 !important;
}
.registration-step .MuiStepLabel-iconContainer svg.Mui-active {
  color: #4797ba !important;
}

.registration-data .MuiChip-deleteIcon {
  color: #fff !important;
}

.booking-step-icon:hover {
  background: #4797ba !important;
}

@media (max-width: 767.98px) {
  .policy {
    font-size: 0.7rem !important;
  }
}

.time-settings-checkbox .MuiCheckbox-root {
  padding: 0;
}

.circle {
  /* Appearance */
  fill: rgba(197, 195, 195);
}

#pie {
  /* Appearance */
  stroke: rgba(159, 159, 159, 0.9);
  stroke-dasharray: 0 141;
  stroke-width: 45;
  transition: stroke-dasharray 0.2s linear;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* login page */
.login-page .text-white .MuiInputLabel-root,
.login-page .text-white .MuiInput-input,
.login-page .text-white .MuiInputAdornment-root,
.login-page .text-white .MuiInputAdornment-root .MuiButtonBase-root {
  color: #fff;
}

.login-page .text-white .MuiInput-root:before,
.login-page .text-white .MuiInput-root.Mui-focused:before,
.login-page .text-white .MuiInput-root:hover:before,
.login-page .text-white .MuiInput-root:after {
  border-bottom-color: #fff;
}
